@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

.alldoc {
  text-align: center;
  font-family: 'Hind';
  font-size: 40px;
}

.search-engine {
  font-family: 'Hind';
  padding-left: 1%;
}
