.title-contenu {
  text-align: center;
}

.doc-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vw;
  padding: 4vw;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  background-color: #abbdd2;
  width: 85%;
  height: 52vw;
  border-radius: 10px;
}

.image {
  grid-column: 1;
  grid-row: 1/3;
  border-radius: 10%;
  margin-right: 1em;
  width: 36vw;
  height: 24vw;
}
.titre {
  margin: 0;
  font-size: 4vw;
  grid-column: 2/4;
  grid-row: 1;
}
.author {
  margin: 0;
  grid-column: 2/4;
  grid-row: 2;
}
.description {
  margin: 0;
  grid-column: 1/4;
  grid-row: 3/4;
}

.price {
  grid-column: 3;
  grid-row: 4/5;
}
