@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

body {
  width: 100%;
  margin: 0;
}

.box-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #f6f6f6;
  box-shadow: 3px 3px 3px lightgrey;
  font-family: 'Hind';
}

.title {
  text-decoration: none;
  background: linear-gradient(to top, rgba(255, 230, 0, 0.952) 0%, rgba(255, 230, 0, 0.952) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: background-size .5s;
}

.title:hover {
  background-size: 100% 100%;
}

.description {
  margin-left: 10px;
  margin-right: 10px;
}

.discover:visited {
  color: black;
}

/* faire une forme ovale pour le background - test -
/*.ovale {
  width : 70px;
  height : 70px;
  background : #F6F6F6;
  -moz-border-radius : 20px;
  -webkit-border-radius : 20px;
  border-radius : 25px;
  margin-left: 150px;
}*/

@media (min-width: 1281px) {
  .box-item {
    max-width: 50%;
    flex-wrap: no-wrap;
    margin: 0, auto;
  }
}