.title-general {
  text-align: center;
  background: linear-gradient(
      to top,
      rgba(255, 230, 0, 0.952) 0%,
      rgba(255, 230, 0, 0.952) 10%,
      transparent 10.01%
    )
    no-repeat left bottom / 0 100%;
  transition: background-size 0.5s;
  margin-top: 100px;
}

.title-general:hover {
  background-size: 100% 100%;
}

.search-engine-general {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.general-search {
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 100px;
}
