.container_image_avatar {
  display: flex;
  align-items: flex-end;
  align-content: stretch;
  justify-content: space-around;
}

.style_avatar {
  border-radius: 50%;
  margin-bottom: 50px;
}
.container_bouton_logout {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-right: 16%;
  flex-direction: column;
}

.container_bouton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 16%;
  margin-left: 12%;
  margin-bottom: 10%;
}

.bouton {
  font-family: 'Roboto';
  height: 70px;
  background: #7a77f2;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.bouton_save {
  font-family: 'Roboto';
  height: 50px;
  background: #7a77f2;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  font-size: 24px;
}

input.form-control {
  height: 40px;
  border: 1px solid #7a77f2;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  margin: 1%;
  font-size: 16px;
  width: 100%;
}
.texte {
  width: 70%;
}

.logo-documentation,
.logo-formation,
.logo-service {
  margin: 5%;
  height: 40px;
  filter: invert(100%);
}
